
body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #343a40; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.8rem; 
    font-weight: bold; 
    color: #f9f7f7; 
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #d4d4d4; 
}

.nav-item .nav-link {
    color: #f9f7f7; 
    margin: 0 15px; 
    transition: color 0.3s; 
}

.nav-item .nav-link:hover {
    color: #28a745; 
}

.navbar-toggler {
    border: none; 
}

.navbar-toggler-icon {
    background-color: #ffffff; 
}

.form-control {
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    transition: border-color 0.3s; 
}

.form-control:focus {
    border-color: #80bdff; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

.btn-outline-success {
    border-radius: 20px; 
    border: 2px solid #28a745; 
    background-color: transparent; 
    color: #28a745; 
    padding: 8px 16px; 
    font-weight: bold; 
    transition: background-color 0.3s, color 0.3s; 
}

.btn-outline-success:hover {
    background-color: #28a745; 
    color: white; 
    border-color: #28a745; 
}

.btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); 
}


@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem 1rem; 
    }
}
